<!-- templates/mysite/fs-accordion-body.html -->
<div class="list-group my-0">
  <label class="list-group-item gap-2">
    <input class="form-check-input flex-shrink-1" type="checkbox" value="" checked>
    <span>
      Income statement
      <small class="d-block text-muted">details go here</small>
    </span>
  </label>
  <label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
    <span>
      Cashflow statement
      <small class="d-block text-muted">details go here</small>
    </span>
  </label>
  <label class="list-group-item d-flex gap-2">
    <input class="flex-shrink-0">
    <span>
      calendar goes here ...
    </span>
  </label>
</div>
