<!-- templates/mysite/fs-accordion-body.html -->
{% load static %}
{% load i18n %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/financial-statements-tab.css' %}">
</head>
<div class="list-group my-0">
  <div class="list-group-item">
    <div class="container">
        <div class="col-12 col-md-4 d-grid my-2 my-md-3">
          <div class="input-daterange input-group">
            <form action="send_email/" method="post" class="row g-3">
              {% csrf_token %}
              <div class="col-auto">
                <input id="start-date" class="form-control" type="text" name="start_date"/>
              </div>
              <div class="col-auto input-group-text">
                {% trans "To" %}
              </div>
              <div class="col-auto">
                <input id="end-date" class="form-control" type="text" name="end_date"/>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Send Email</button>
              </div>
            </form>
          </div>
        <!-- <div class="col-12 col-md-2 my-2 d-grid my-md-3">
          <button id="view-statements" class="btn btn-primary statement-option" target="_blank" type="button">{% trans "View Statements" %}</button>
        </div> -->
      </div>
      <div class="row text-muted mobile-msg">
        Mobile users: Horizontal display is recommended for viewing the tables. If there are many months selected, you may have to swipe the table.
      </div>
    </div>
  </div>
  <div id="income-div" class="list-group-item pb-5">
    {% include 'mysite/income-table.html' %}
  </div>
  <div id="income-plot">
  </div>
  <br>
  <div id="cashflow-div" class="list-group-item pb-5">
    {% include 'mysite/cashflow-table.html' %}
  </div>
  <div id="cashflow-plot">
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
<script>
  const months_plot = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
  };
  function bY_to_date_plot (date) {
    const date_split = date.split(' '); // ['Jan', 2022]
    let isodate = [date_split[1], months_plot[date_split[0]], '01'].join('-'); // 2022-01-01
    isodate = [isodate, '00:00:00'].join(' ');
    return isodate;
  }

  let income_data = JSON.parse("{{income_json | escapejs}}");
  let cashflow_data = JSON.parse("{{cashflow_json | escapejs}}");
  let net_income = "{{net_income | escapejs}}";
  let total_cash = "{{total_cash | escapejs}}";
  let currency = "{{currency | escapejs}}";

  let income_x = [];
  let income_y = [];
  let cashflow_x = [];
  let cashflow_y = [];

  end_date = new Date();
  end_date.setDate(1);
  end_date.setHours(0, 0, 0, 0); // HH:mm:ss:ms = 00:00:00:00
  let start_date = new Date(end_date);
  start_date.setMonth(end_date.getMonth() - 6);

  for (let i = 0; i < income_data.length; i++) {
    let obj = income_data[i];
    let isodate = bY_to_date_plot(obj['date']);
    let js_date = new Date(isodate);
    if (start_date <= js_date && js_date <= end_date) {
      income_x.push(isodate);
      income_y.push(obj[net_income]);
    };
  };

  let income_plot_data = [{
    x: income_x,
    y: income_y,
    type: 'bar'
  }];
  income_plot_layout = {
    title:  net_income + ' (' + currency + ')'
  };

  for (i = 0; i < cashflow_data.length; i++) {
    let obj = cashflow_data[i];
    let isodate = bY_to_date_plot(cashflow_data[i]['date']);
    let js_date = new Date(isodate);
    if (start_date <= js_date && js_date <= end_date) {
      cashflow_x.push(bY_to_date_plot(obj['date']));
      cashflow_y.push(obj[total_cash]);
    };
  };

  let cashflow_plot_data = [{
    x: cashflow_x,
    y: cashflow_y,
    type: 'bar'
  }];
  cashflow_plot_layout = {
    title: total_cash + ' (' + currency + ')'
  };

  // let removed_modebuttons = [
  //   'zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d',
  //   'zoomOut2d', 'autoScale2d', 'resetScale2d'
  // ];

  Plotly.newPlot('income-plot', income_plot_data, income_plot_layout, {staticPlot: true});
  Plotly.newPlot('cashflow-plot', cashflow_plot_data, cashflow_plot_layout, {staticPlot: true});
</script>
