<!-- templates/mysite/home.html -->
{% extends 'mysite/base.html' %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class = "alert alert-{{ messages.tags }}">
        { message }
      </div>
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    Hello, {{ user.username }} !
    <br>
    <button type="button"><a href="{% url 'settings' %}">User settings</a></button>
    <p><a href="{% url 'logout' %}">Log out</a></p>
  {% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Click here to log in.</a></p>
    <p>Don't have an account? <a href="{% url 'register' %}">Click here to create an account</a></p>

  {% endif %}
{% endblock content %}
