{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/data-table.css' %}">
</head>

<h1 style="text-align: center">Income Statement</h1>
<div class="lead" style="text-align: center">
  {{ user.first_name }} {{ user.last_name }}, <span class="start-date-display"></span> - <span class="end-date-display"></span>
</div>
<table id="income-table" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>Type ({{ currency }})</th>
      <th>Source</th>
      {% for date in income_dates %}
        <th>{{ date }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in income_table %}
    <tr>
      <td>{{ row.metric }}</td>
      <td>{{ row.source }}</td>
      {% for x in row.data %}
        <td> {{ x }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
