{% load static %}
{% load i18n %}
<head>
  <link rel="stylesheet" href="{% static 'css/data-table.css' %}">
</head>

<h1 style="text-align: center">{% trans "Income statement from fisheries operations" %}</h1>
<div class="lead" style="text-align: center">
  {{ user.first_name }} {{ user.last_name }}, <span class="start-date-display"></span> - <span class="end-date-display"></span>
</div>
<table id="income-table" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th style="background-color: #ffffff">{% trans "Type" %} ({{ currency }})</th>
      <th style="background-color: #ffffff">{% trans "Source" %}</th>
      {% for date in income_dates %}
        <th class="dt-head-right">{{ date }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in income_table %}
    <tr>
      <td>{{ row.metric }}</td>
      <td>{{ row.source }}</td>
      {% for x in row.data %}
        <td class="dt-body-right"> {{ x }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
