<!-- templates/mysite/navbar.html -->
{% load static %}
{% load i18n %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="navbar">
  <div class="container-fluid">
    <img src="{% static 'images/ff-logo-250x101.png' %}"</img>
    <h2 class="fw-bold ms-5">OurFish Financial Statements</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-items" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown me-5">
          <a class="nav-link dropdown-toggle" id="language-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate "Language" %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="language-dropdown">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
              <li>
                <a class="dropdown-item" href="/{{ lang.code }}">
                  {{ lang.name_local }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a id="logout" class="nav-link" style="background-color: #f8f9fa" href="{% url 'logout' %}">
            {% trans "Log out" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
