<table id="income-table" class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Fish revenue</th>
      <th>Fish expenses</th>
      <th>Fish profit</th>
      <th>Supply revenue</th>
      <th>Supply expenses</th>
      <th>Supply profit</th>
      <th>Total revenue</th>
      <th>Total expenses</th>
      <th>Total profit</th>
    </tr>
  </thead>
  <tbody>
    {% for row in income_table %}
      <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.fish_revenue }}</td>
        <td>{{ row.fish_expenses }}</td>
        <td>{{ row.fish_profit }}</td>
        <td>{{ row.supply_revenue }}</td>
        <td>{{ row.supply_expenses }}</td>
        <td>{{ row.supply_profit }}</td>
        <td>{{ row.total_revenue }}</td>
        <td>{{ row.total_expenses }}</td>
        <td>{{ row.total_profit }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
