<!-- templates/register.html -->
{% extends 'mysite/base.html' %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}


  <div class = "content-section container">
    <form action="{% url 'register' %}" method=POST>
      {% csrf_token %}
      <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">Account registration</legend>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group">
        <button class = "btn btn-outline-info" type="submit">Sign up</button>
      </div>
    </form>
    <div class = "border-top pt-3">
      <small class = "text-muted">Already have an account? <a class = 'ml-2' href="{% url 'login' %}">Click here to sign in.</a></small>
  </div>
{% endblock %}
