.export-link {
  text-decoration: none;
  color: #6c757d;
}

.export-link:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-msg {
  display: none;
}

@media only screen and (max-width: 915px) {
  .mobile-msg {
    display: block;
  }
}
